aiohttp==3.9.3
aiosignal==1.3.1
akatsuki-pp-py==1.0.0
attrs==23.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
discord==2.3.2
discord.py==2.3.2
frozenlist==1.4.1
greenlet==3.0.3
idna==3.6
multidict==6.0.5
oauthlib==3.2.2
osrparse==6.0.2
ossapi==3.4.3
psycopg2-binary==2.9.9
requests==2.31.0
requests-oauthlib==1.3.1
rosu-pp-py==0.9.4
SQLAlchemy==2.0.25
titanic-pp-py==0.0.6
typing-utils==0.1.0
typing_extensions==4.9.0
urllib3==2.1.0
yarl==1.9.4
